.form{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  color: #fff;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #444444;
  color: #fff;
}

.form textarea {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #444444;
  color: #fff;
}

.sms{
  height: 100px;
}

.bt{
  margin-top: 9px;
  background-color: #d4af37;
  color: #292929;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .sms{
    height: 60px;
  }
  .form input {
    height: 4%;
    right: 2239%;
  }
  .bt{
    margin-top: 6px;
    font-size: 0.8rem;
  }
}
